.THIS .slds-table td {
    padding-top: 0rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    padding-bottom: 0rem;
   
}

.THIS textarea {
    border-radius: 0.25rem;
    border-color: rgb(212,212,212);
}

.THIS .slds-rich-text-area__content {
    min-height: 0rem;
    padding: .25rem
   
}

.THIS .slds-text-heading_small {
    font-size:.75rem;
}

.THIS .slds-select {
    width:150px;
}