.THIS.slds-button--neutral{
        margin:-61px 20px 0 0;
    }

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
        .THIS.slds-button--neutral{
          margin: -1157px 20px 0 0;
    }
}
/* Iphone 6/7/8 */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
.THIS.slds-button--neutral{
       margin: -1125px 20px 0 0;
    }
}


/* IPhone 7 plus */
 @media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
.THIS.slds-button--neutral{
             margin: -1147px 20px 0 0;
    }
}
/* Iphone X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.THIS.slds-button--neutral{
           margin: -1136px 20px 0 0;
    }
}