.THIS .slds-dropdown_length-with-icon-10{
    max-height: calc(((0.8125rem * 1.5) + 1rem) * 7) !important;
}
.THIS .error-Msg{
    color:red !important;
    font-size:14px !important;
    text-align:center !important;
    background: antiquewhite !important;
}
.THIS .hideContent{
    display:none !important;
}
.THIS .styleLabel{    
    display: inline-block;
    color: rgb(62, 62, 60);
    font-size: .75rem;
    margin-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}

.THIS .slds-form-element{
    display:inline !important;
}

.THIS lightning-input-field
{
    display:inline !important;    
}
.THIS lightning-picklist
{
    display:inline !important;    
}
.THIS.spinnerHolder{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}
.THIS .slds-spinner_container {
    position: inherit;
}
.THIS .outerScroller {
    
    border-radius: 1px;
}
.THIS .lookup__menu{
    
    position: sticky !important;
    
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(244, 244, 244);
    border-image: initial;
    border-radius: 0.25rem;
}