    <ul class="hidden-xs list-inline navbar-nav cc_navbar_nav">
        <li><a id="changeLocale" class="changeLocale cc_change_locale" href="javascript:void(0)">
            <span class="{{#if (isLang 'EN')}}activeLang{{/if}}">EN</span>
            <span>|</span>
            <span class="{{#if (isLang 'FR')}}activeLang{{/if}}">FR</span>
        </a></li>
    </ul>
    <div id="modalSecLocale"></div>