<div id="confirmRemindersModal" class="modal fade cc_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content cc_modal-content">
            <div class="modal-body cc_modal_body text-center">
                <p >{{pageLabelMap 'CCB2B_MyAccount_Reminders_Modal_Text'}}</p>
            </div>
            <div class="modal-footer cc_modal_footer text-center">
                <input id="ccb2b-ma-orders-confirm-reminders-no-button" type="button" class="btn  cancelSave"  value="{{pageLabelMap 'Cancel'}}"/>
                <input id="ccb2b-ma-orders-reminders-reorder-yes-button" type="button" class="btn primary_button confirmSave" value="{{pageLabelMap 'Yes'}}"/>
            </div>
        </div>
    </div>
</div>