<div class="panel panel-default center-block cc_filter_container">
    <div class="visible-sm visible-xs">
        <a href="#" class="openFilters">{{pageLabelMap "Filter_Title"}}<span class="icon-arrow-down pull-right"></span></a>
    </div>
    <div id="collapseFilters" class="panel-collapse collapse in">
         <div class="specGroupContent cc_filter_options"></div>
    </div>
</div>
