<div class="row">
    <div class="col-md-12">
        <div class="messagingSection-Error" role="alert" style="display: none"></div>
        <div class="messagingAction-Error alert alert-danger" role="alert" style="display: none"></div>

        <div class="messagingSection-Warning" role="alert" style="display: none"></div>
        <div class="messagingAction-Warning alert alert-warning" role="alert" style="display: none"></div>

        <div class="messagingSection-Info" role="alert" style="display: none"></div>
        <div class="messagingAction-Info alert alert-info" role="alert" style="display: none"></div>
    </div>
</div>
        