    <ul class="hidden-xs list-inline navbar-nav cc_navbar_nav">
        <li><a id="changeLocale" class="changeLocale cc_change_locale" href="javascript:void(0)">&#9873;&#160;{{pageLabelPrefixMap 'LOC_' locale locale}} </a></li>
    </ul>
    <div id="modalSecLocale"></div>
