<span class="hidden-xs">
    <span class="icon-check-out"></span>
    <span class="cartItems">{{getNumberOfCartItems}}</span>
</span>
<span class="visible-xs">
    <span class="icon-check-out"></span>
    <span class="cartItems">{{getNumberOfCartItems}}</span>
</span>
