<div id="confirmOHReorder" class="modal fade cc_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content cc_modal-content">
            <div class="modal-body cc_modal_body text-center">
                <p>{{pageLabelMap 'CCB2B_OrderHistory_ConfirmReorder'}}</p>
                <p class="noticeReorder">{{pageLabelMap 'CCB2B_OrderHistory_ReorderNotice'}}</p>
            </div>
            <div class="modal-footer cc_modal_footer text-center">
                <input id="ccb2b-ma-orders-confirm-reorder-no-button" type="button" class="btn btn-default closeModal" data-dismiss="modal" value="{{pageLabelMap 'No'}}"/>
                <input id="ccb2b-ma-orders-confirm-reorder-yes-button" type="button" class="btn primary_button confirmReorder" value="{{pageLabelMap 'Yes'}}"/>
            </div>
        </div>
    </div>
</div>