<div class="panel panel-default widget_container {{this.sectionID}}_container cc_panel cc_{{this.sectionID}}_container relatedProducts">
    <div class="panel-body cc_body">
        <div class="widget_column cc_widget_column">
            <div class="{{this.sectionID}} cc_{{this.sectionID}}"></div>
        </div>
    </div>
</div>
  